<style>
    .register, .login {
        display: inline-block;
        vertical-align: top;
        width: 75%;
        border: 0.25em solid black;
        padding: 0 2em 2em 2em;
        margin-top: 2em;
    }
    input {
        float: right;
    }
</style>
<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
    <p style="color: red;"><%= error %></p>
    <% end %>
<% end %>
<div class="col-md-2"></div>
<div class="col-md-4">
    <div class="register">
        <h2>Register</h2>
        <form action="/register" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p><label for="first_name">First Name</label>
            <input type="text" name="user[first_name]" id="first_name"></p>
            <p><label for="last_name">Last Name</label>
            <input type="text" name="user[last_name]" id="last_name"></p>
            <p><label for="username">Username</label>
            <input type="text" name="user[username]" id="username"></p>
            <p><label for="password">Password</label>
            <input type="password" name="user[password]" id="password"></p>
            <p><label for="password_confirmation">PW Confirmation</label>
            <input type="password" name="user[password_confirmation]" id="password_confirmation"></p>
            <input type="submit" value="Register">
        </form>
    </div>
</div>
<div class="col-md-4">
    <div class="login">
        <h2>Login</h2>
        <form action="/login" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <p><label for="username">Username</label>
            <input type="text" name="user[username]" id="username"></p>
            <p><label for="password">Password</label>
            <input type="password" name="user[password]" id="password"></p>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
<div class="col-md-2"></div>